/* login */
.text-center {
	overflow: hidden;
	position: relative;
	background: rgb(185, 215, 234);
	width: 360px;
	height: 600px;
	margin: 0 auto;
    text-align: center!important;
}
.loginbody{
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-signin{
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 100px auto;
}
.form-signin input[type="text"], 
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.logintext{
	font-family: HanSans;
	margin: 0px -20px;
	padding-bottom: 100px;
}
.login-inputs{
	padding: 0px 30px;
}
/* main */
.main-header{
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7fbfc;
    height: 47px;
}
.help{
	padding-left: 5px;
	float:left;
}
.sidemenu{
	padding-right: 5px;
	float:right;	
}
.vote-container{
	margin-top: 200px;
}
.promise, .vote, .myvote{
	display: block;
	width: 360px;
	height: 120px;
	background-color: #e0e0e0;
	text-align:left;
}
.txt{
	display: block;
}
.txt1{
	/*border: 1px solid;*/
	width:220px;
	height: 70px;
	float:right;
}
#txt_1, #txt_2, #txt_3{
	padding-top: 35px;
	padding-bottom: 5px;
	font-size: 18px;
	color: black;
}
#txtln_1, #txtln_2, #txtln_3{
	font-weight: 600;
	font-size: 11px;
	color: black;
}
.txtimg{
	float:left;
	width:100px;
	height:108px;
	padding: 10px;
	margin: auto 20px;
}
/* help */
.help-box{
	margin: 60% 30px;
	padding: 10px;
	font-size: 16px;
    text-align: center;
    background-color: rgba(247, 251, 252, 0.28);
}
.help-email{
	display:block;
	font-weight: bold;
}
.help-text{
	display:block;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 11px;
	font-weight: bold;
}
/* promise */
.votecards{
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.votecard img{
	height: 85px;
	width: 85px;
	margin: 5px;
}
.card {
	background-color: #fafafa;
	height: 190px;	
	box-shadow: 3px 3px 3px 3px gray;
	color:black;
}
.card-title{
	text-align: right;
	padding-right: 20px;
	position: relative;
	top: -55px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none!important;
}
.card-text2{
	font-size: 12px;
	position: relative;
	top: -30px;
	text-decoration: none!important;
	/*border: 1px solid;*/
}
a:link{
	text-decoration: none!important;
}
/* sign */
.sign-box{
	margin: 20% 10px;
	padding: 10px;
	font-size: 16px;
    text-align: center;
    background-color: #ededed;
    height: 350px;
}
.in-sign-box{
	background-color: #f7fbfc;
	padding: 10px 10px;
	height: 80%;
}
.nsignbtn{
	padding: 10px;
	width: 150px;
	background-color: #bebebe;
	border: 1px solid #bebebe;
	margin-right: 6px;
	font-weight: bold;
	font-size: 16px;
}
.signbtn{
	padding: 10px;
	width: 150px;
	background-color: #3498db;
	border: 1px solid #3498db;
	margin-left: 6px;
	font-weight: bold;
	font-size: 16px;
}
.signbtns{
	margin: 15px 0px;
}
.signtext{
	font-weight: bold;
}